.red-text {
    font-color: red;
}

.mb-8 {
    margin-bottom: 2rem;
}

div: color: .more-red-text {
    color: red;
}


.equation-section {
    display: grid;
    gap: 1rem;
}

.equation {
    display: flex;
    gap: 1rem;
}

.equation input {
    width: 100px;
}